<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltreNom</filter-name>
        <filter-class>filtre.FiltreNom</filter-class>
    </filter>
    <filter>
        <filter-name>AddresseFiltre</filter-name>
        <filter-class>filtre.AddresseFiltre</filter-class>
    </filter>
    <filter>
        <filter-name>PrenomFiltre</filter-name>
        <filter-class>filtre.PrenomFiltre</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrenomFiltre</filter-name>
        <servlet-name>ControlCommande</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AddresseFiltre</filter-name>
        <servlet-name>ControlCommande</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltreNom</filter-name>
        <url-pattern>/ControlCommande</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ControlCommande</servlet-name>
        <servlet-class>contoleur.ControlCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlLogin</servlet-name>
        <servlet-class>contoleur.ControlLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlCommande</servlet-name>
        <url-pattern>/ControlCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlLogin</servlet-name>
        <url-pattern>/ControlLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
